:root{
    --cor-background-body: gray;

}
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-background-body);
}
div#forma{
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid black;
    padding:10px ;
    box-shadow: 1px 1px 1px black;
}
/* div#forma > div#interna{
    width: 80px;
    height: 80px;
    border: 1px solid red;
    background-color: var(--cor-background-body);


} */