*{
    border: 0;
    padding: 0;
    margin: 0;
}
div{
    width: 300px;
    height: 300px;
    border: 1px  solid black;
    background-color: rgb(33, 150, 243);
}
#segunda-div{
    background-color: rgba(33, 150, 243, 0.5);
}